body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #cfe1f37c;
}

.nav-item > a:hover {
        background-color: rgb(255, 170, 58);
}

#home {
    background-image: url("utah (2)_1920x715.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#home > h1 {
    font-size: 3em;
    text-align: center;
}
#home > img {
    margin-left: 10%;
    border-radius: 50%;
    float: left;
    padding-right: 20px;
}

.headingstyle {
    background-color: #f08a26;
    font-family: palatino;
    text-align: center;
}
.indent {
    padding-left: 80px;
}
table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#Contact-form {
    background-color: #6b8fb1;
    float: right;
    width: 500px;
    height: 500px;
    padding-left: 65px;
    position: relative;
}
#contact-info {
    float: right;
    width: 500px;
    height: 500px;
    margin-right: 100px;
}


footer {
    text-align: center;
    clear: both;
}